/* src/SwiperSlider.css */

.swiper-container {
  width: 100%;
  height: 400px;
  /* overflow: hidden; */
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}
.swiper-wrapper{
  display: flex;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease-in-out;
}

.slide-content {
  /* padding: 20px; */
  /* text-align: center; */
  width: 100%;
  height: 100%;
  position: relative;
}
.slide-info{
position: absolute;
padding: 15px;
bottom: 0px;
}
.slide-content .slide-info p{
  display: none;
  transition: 1s;
}
.slide-content:hover .slide-info p{
  display: block !important;
  font-size: 18px;
  /* transition: 1s; */
}
.slide-content:hover .slide-info{
  transform: translate(0px , -30px);
  transition: 1s;
}